body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
  text-align:center;
}

button {
    text-align:center;
};

a.hover {
    text-decoration:none;
    border:no-border;
}

.container {
    width: auto;
    max-width: 300px;
    text-align:center;
}
