{{content}}

{{#if nick}}
<p>Conectado como {{nick}}</p>


<a href="/sendLink" style="width:200px;text-align:left" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-send" style="margin-right:30px"></span> Enviar link
</a>
<br/>
<br/>
<a href="/signout" style="width:200px;text-align:left" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-log-out" style="margin-right:30px"></span> Desconectar
</a>
<br/>
{{else}}
<a style="text-align:left" href="/signin">
  Identificarse
</a>
-
<a style="text-align:right" href="/signup">
  Registrarse
</a>
{{/if}}
