{{content}}

{{#if nick}}
<p>Conectado como {{nick}}</p>
<a href="/signout">
  Desconectar
</a>
{{else}}
<a style="text-align:left" href="/signin">
  Identificarse
</a>
-
<a style="text-align:right" href="/signup">
  Registrarse
</a>
{{/if}}
